
<p id="age">
</p>
<script>
setInterval(function age() {
    let difference = new Date() - new Date("May 31, 2009");
    const years = Math.floor(difference / (1000 * 60 * 60 * 24 * 365));
    difference -= years * (1000 * 60 * 60 * 24 * 365);

    // Calculate days
    const days = Math.floor(difference / (1000 * 60 * 60 * 24));
    difference -= days * (1000 * 60 * 60 * 24);

    // Calculate hours
    const hours = Math.floor(difference / (1000 * 60 * 60));
    difference -= hours * (1000 * 60 * 60);

    // Calculate minutes
    const minutes = Math.floor(difference / (1000 * 60));
    difference -= minutes * (1000 * 60);

    // Calculate seconds
    const seconds = Math.floor(difference / 1000);
    document.getElementById('age').textContent = years + " years " + days + " days " + hours + " hours " + minutes + " minutes " + seconds + " seconds old.";
    return age;
}(), 1000);
</script>